<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="HCA.Foundation.Account.Core">
          <targetDataStore physicalRootPath="$(serializationSource)Foundation\Account\serialization.core"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Settings.Security.Profiles" database="core" path="/sitecore/system/Settings/Security/Profiles" />
            <include name="Templates.System.Security" database="core" path="/sitecore/templates/System/Security">
              <exclude children="true">
                <except name="User" />
              </exclude>
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false"
                                     type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"
                                     singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1"
                             type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>