<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" 
               xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore>
    <!-- 
    Example of previous order confirmation email implementation
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">epmvd022.minsk.epam.com</patch:attribute>
      </setting>
      <setting name="Wooli.Foundation.Commerce.SendConfirmation.From" value="wooli@devmail.epam.com" />
      <setting name="Wooli.Foundation.Commerce.SendConfirmation.Subject" value="Order confirmation" />
    </settings>
    -->
    <!--TODO: Decide which smtp server to use. Here gmail smtp is used as an example-->
    <exm exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
      <eds>
        <smtpSettings>
          <server>smtp.gmail.com</server>
          <port>587</port>
          <userName>username</userName>
          <password>password</password>
          <authenticationMethod>LOGIN</authenticationMethod>
          <startTls>true</startTls>
        </smtpSettings>
      </eds>
    </exm>
    <pipelines>
      <initialize>
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.Initialize.RegisterRoutes, Wooli.Foundation.Commerce"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <httpRequestBegin>
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.HttpRequestBegin.CustomerResolverProcessor, Wooli.Foundation.Commerce"
          resolve="true" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
          <sites hint="list">
            <site>Wooli</site>
          </sites>
        </processor>
      </httpRequestBegin>
      <commerce.orders.submitVisitorOrder>
        <!--
        Example of previous order confirmation email implementation
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.SubmitVisitorOrder.SendEmailProcessor, Wooli.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='Sitecore.Commerce.Pipelines.Orders.TriggerOrderOutcome, Sitecore.Commerce.Connect.Core']" />
        -->
      </commerce.orders.submitVisitorOrder>
      <wooli.foundation.account.login>
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.Login.GetCommerceUserProcessor, Wooli.Foundation.Commerce"
          resolve="true"
          patch:before="processor[@type='Wooli.Foundation.Account.Infrastructure.Pipelines.Login.LoginProcessor, Wooli.Foundation.Account']" />
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.Login.SetCurrentUserProcessor, Wooli.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='Wooli.Foundation.Account.Infrastructure.Pipelines.Login.LoginProcessor, Wooli.Foundation.Account']" />
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.Login.MergeCartsProcessor, Wooli.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='Wooli.Foundation.Commerce.Infrastructure.Pipelines.Login.IdentifyCommerceUserProcessor, Wooli.Foundation.Commercet']" />
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.Login.IdentifyCommerceUserProcessor, Wooli.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='Wooli.Foundation.Commerce.Infrastructure.Pipelines.Login.SetCurrentUserProcessor, Wooli.Foundation.Commerce']" />
      </wooli.foundation.account.login>
      <wooli.foundation.account.logout>
        <processor type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.Logout.EndVisitProcessor, Wooli.Foundation.Commerce"
                   resolve="true"
                   patch:before ="processor[@type='Wooli.Foundation.Account.Infrastructure.Pipelines.Logout.LogoutProcessor, Wooli.Foundation.Account']"/>
      </wooli.foundation.account.logout>
    </pipelines>
  </sitecore>
</configuration>