<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">epmvd022.minsk.epam.com</patch:attribute>
      </setting>
      <setting name="Wooli.Foundation.Commerce.SendConfirmation.From" value="wooli@devmail.epam.com" />
      <setting name="Wooli.Foundation.Commerce.SendConfirmation.Subject" value="Order confirmation" />
    </settings>
    <pipelines>
      <initialize>
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.Initialize.RegisterRoutes, Wooli.Foundation.Commerce"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <httpRequestBegin>
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.HttpRequestBegin.CustomerResolverProcessor, Wooli.Foundation.Commerce"
          resolve="true" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
          <sites hint="list">
            <site>Wooli</site>
          </sites>
        </processor>
      </httpRequestBegin>
      <commerce.orders.submitVisitorOrder>
        <processor
          type="Wooli.Foundation.Commerce.Infrastructure.Pipelines.SubmitVisitorOrder.SendEmailProcessor, Wooli.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='Sitecore.Commerce.Pipelines.Orders.TriggerOrderOutcome, Sitecore.Commerce.Connect.Core']" />
      </commerce.orders.submitVisitorOrder>
    </pipelines>
  </sitecore>
</configuration>