<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
        <pipelines>
          <hca.foundation.base.extendedSearchQuery>
            <processor type="HCA.Foundation.Base.Infrastructure.Pipelines.ExtendedSearchQuery.FilterByRootItemPipelineProcessor, HCA.Foundation.Base" resolve="true" />
            <processor type="HCA.Foundation.Base.Infrastructure.Pipelines.ExtendedSearchQuery.FilterByKeywordPipelineProcessor, HCA.Foundation.Base" resolve="true" />
            <processor type="HCA.Foundation.Base.Infrastructure.Pipelines.ExtendedSearchQuery.FilterByLanguagePipelineProcessor, HCA.Foundation.Base" resolve="true" />
            <processor type="HCA.Foundation.Base.Infrastructure.Pipelines.ExtendedSearchQuery.FilterByVersionPipelineProcessor, HCA.Foundation.Base" resolve="true" />
            <processor type="HCA.Foundation.Base.Infrastructure.Pipelines.ExtendedSearchQuery.FilterByFieldsPipelineProcessor, HCA.Foundation.Base" resolve="true" />
            <processor type="HCA.Foundation.Base.Infrastructure.Pipelines.ExtendedSearchQuery.SortResultsPipelineProcessor, HCA.Foundation.Base" resolve="true" />
            <processor type="HCA.Foundation.Base.Infrastructure.Pipelines.ExtendedSearchQuery.FacetOnPipelineProcessor, HCA.Foundation.Base" resolve="true" />
          </hca.foundation.base.extendedSearchQuery>
        </pipelines>
  </sitecore>
</configuration>