<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <hca.foundation.account.login>
        <processor type="HCA.Foundation.Account.Infrastructure.Pipelines.Login.LoginProcessor, HCA.Foundation.Account" resolve="true" />
      </hca.foundation.account.login>
      <hca.foundation.account.logout>
        <processor type="HCA.Foundation.Account.Infrastructure.Pipelines.Logout.LogoutProcessor, HCA.Foundation.Account" resolve="true" />
      </hca.foundation.account.logout>
    </pipelines>
  </sitecore>
</configuration>