<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:commerceProvider="http://www.sitecore.net/xmlconfig/commerceProvider/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement" commerceProvider:require="Sitecore">
    <services>
      <register serviceType="HCA.Foundation.Commerce.Services.Search.IProductSearchService, HCA.Foundation.Commerce"
                implementationType="HCA.Foundation.Commerce.Services.Search.CommerceProductSearchService, HCA.Foundation.Commerce" />
    </services>
  </sitecore>
</configuration>