<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Wooli.Feature.Catalog.Pipelines.Initialize.RegisterRoutes, Wooli.Feature.Catalog"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" />
      </initialize>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor
              type="Wooli.Feature.Catalog.Pipelines.GetLayoutServiceContext.ProductContextExtension, Wooli.Feature.Catalog"
              resolve="true" />
            <processor
              type="Wooli.Feature.Catalog.Pipelines.GetLayoutServiceContext.CategoryContextExtension, Wooli.Feature.Catalog"
              resolve="true" />
            <processor
              type="Wooli.Feature.Catalog.Pipelines.GetLayoutServiceContext.ProductColorsContextExtension, Wooli.Feature.Catalog"
              resolve="true" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>