<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Caching" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Configuration" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.ServiceBus" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.WindowsAzure.Storage" version="6.0.1304.0" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net471" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Conditions" version="4.0.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Data.Blobs" version="1.0.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Data.Blobs.Abstractions" version="1.0.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Logging" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Logging.Client" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Nexus.Consumption" version="1.1.1" targetFramework="net471" />
  <package id="Sitecore.Nexus.Licensing" version="2.0.6" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.NVelocity" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Zip" version="9.3.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections" version="4.0.11" targetFramework="net471" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net471" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net471" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net471" />
  <package id="System.Linq" version="4.1.0" targetFramework="net471" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading" version="4.0.11" targetFramework="net471" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
</packages>