<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:eds="http://www.sitecore.net/xmlconfig/eds/"
               xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore>
    <!-- 
    [Obsolete]
    Example of previous order confirmation email implementation
    
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">epmvd022.minsk.epam.com</patch:attribute>
      </setting>
      <setting name="HCA.Foundation.Commerce.SendConfirmation.From" value="HCA@devmail.epam.com" />
      <setting name="HCA.Foundation.Commerce.SendConfirmation.Subject" value="Order confirmation" />
    </settings>
    -->
    <exm exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
      <eds>
        <smtpSettings>
          <server>$(HCA.Email.Server)</server>
          <port>587</port>
          <userName>$(HCA.Email.UserName)</userName>
          <password>$(HCA.Email.Password)</password>
          <authenticationMethod>LOGIN</authenticationMethod>
          <startTls>true</startTls>
        </smtpSettings>
      </eds>
    </exm>
    <pipelines>
      <initialize>
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.Initialize.RegisterRoutes, HCA.Foundation.Commerce"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <httpRequestBegin>
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.HttpRequestBegin.CustomerResolverProcessor, HCA.Foundation.Commerce"
          resolve="true" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
          <sites hint="list">
            <site>HCA</site>
          </sites>
        </processor>
      </httpRequestBegin>
      <commerce.orders.submitVisitorOrder>
        <!-- 
        [Obsolete]
        Example of previous order confirmation email implementation
        
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.SubmitVisitorOrder.SendEmailProcessor, HCA.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='Sitecore.Commerce.Pipelines.Orders.TriggerOrderOutcome, Sitecore.Commerce.Connect.Core']" />
        -->
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.SubmitVisitorOrder.SetAnonymousInfoProcessor, HCA.Foundation.Commerce"
          resolve="true"
          patch:before="processor[@type='Sitecore.Commerce.MarketingAutomation.Pipelines.Carts.Common.UpdateVisitorInAutomationPlan, Sitecore.Commerce.Connect.MarketingAutomation']" />
      </commerce.orders.submitVisitorOrder>
      <hca.foundation.account.login>
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.Login.GetCommerceUserProcessor, HCA.Foundation.Commerce"
          resolve="true"
          patch:before="processor[@type='HCA.Foundation.Account.Infrastructure.Pipelines.Login.LoginProcessor, HCA.Foundation.Account']" />
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.Login.SetCurrentUserProcessor, HCA.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='HCA.Foundation.Account.Infrastructure.Pipelines.Login.LoginProcessor, HCA.Foundation.Account']" />
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.Login.MergeCartsProcessor, HCA.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='HCA.Foundation.Commerce.Infrastructure.Pipelines.Login.IdentifyCommerceUserProcessor, HCA.Foundation.Commercet']" />
        <processor
          type="HCA.Foundation.Commerce.Infrastructure.Pipelines.Login.IdentifyCommerceUserProcessor, HCA.Foundation.Commerce"
          resolve="true"
          patch:after="processor[@type='HCA.Foundation.Commerce.Infrastructure.Pipelines.Login.SetCurrentUserProcessor, HCA.Foundation.Commerce']" />
      </hca.foundation.account.login>
      <hca.foundation.account.logout>
        <processor type="HCA.Foundation.Commerce.Infrastructure.Pipelines.Logout.EndVisitProcessor, HCA.Foundation.Commerce"
                   resolve="true"
                   patch:before ="processor[@type='HCA.Foundation.Account.Infrastructure.Pipelines.Logout.LogoutProcessor, HCA.Foundation.Account']"/>
      </hca.foundation.account.logout>
    </pipelines>
  </sitecore>
</configuration>