<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="HCA.Project.HCA.Content"
                       dependencies="HCA.Foundation.*,HCA.Feature.*,HCA.Project.HCA">
          <targetDataStore physicalRootPath="$(serializationSource)Project\HCA\serialization.content"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content" database="master" path="/sitecore/content/HCA" />
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/HCA" />
            <include name="Storefront" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Storefront Settings/Storefronts/HCA" />

            <include name="Master.ApiKey" database="master" path="/sitecore/system/Settings/Services/API Keys/JssKey" />

            <include name="Commerce.Indexing.Settings" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Shared Settings/Indexing Settings" />

            <!-- Field transformation for HCA Email -->
            <include name="Content" env:require="!Local">
              <patch:attribute name="fieldTransforms">+Base URL[$(HCA.HostUrl)]</patch:attribute>
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false"
                                     type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"
                                     singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1"
                             type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>