<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Wooli.Feature.PageContent" dependencies="Wooli.Foundation.*">
          <targetDataStore physicalRootPath="$(serializationSource)Feature\PageContent\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Settings" database="master" path="/sitecore/system/Settings/Wooli/Feature/PageContent" />
            <include name="Models" database="master" path="/sitecore/layout/Models/Wooli/Feature/PageContent" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Wooli/Feature/PageContent" />
            <include name="PlaceholderSettings" database="master"
                     path="/sitecore/layout/placeholder settings/Wooli/Feature/PageContent" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Wooli/Feature/PageContent" />
            <include name="Templates" database="master" path="/sitecore/templates/Wooli/Feature/PageContent" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false"
                                     type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"
                                     singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1"
                             type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>