//    Copyright 2020 EPAM Systems, Inc.
//
//    Licensed under the Apache License, Version 2.0 (the "License");
//    you may not use this file except in compliance with the License.
//    You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
//    distributed under the License is distributed on an "AS IS" BASIS,
//    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//    See the License for the specific language governing permissions and
//    limitations under the License.

// tslint:disable:no-empty-interface

import * as ReactJssModule from '{{options.reactJssModule}}';
{{#each options.modules}}
import * as {{this.Name}} from '{{this.Path}}';
{{/each}}
{{#each templates}}

// Path: {{this.Path}}
// ID: {{this.ID}}
export interface {{this.AsClass}}DataSource extends {{#each this.BaseTemplates}}{{this.AsInterface}}, {{/each}}ReactJssModule.BaseDataSourceItem {

    {{#each this.Fields}}
    /// The {{this.Name}} field.
    /// Field Type: {{this.Type}}
    /// Field ID: {{this.ID}}
    {{this.AsProperty}}: {{{this.AsPropertyType}}};

    {{/each}}
}

// Path: {{this.Path}}
// ID: {{this.ID}}
export interface {{this.AsClass}}RenderingParams extends {{#each this.BaseTemplates}}{{this.AsInterface}}, {{/each}}ReactJssModule.BaseRenderingParam {

    {{#each this.Fields}}
    /// The {{this.Name}} field.
    /// Field Type: {{this.Type}}
    /// Field ID: {{this.ID}}
    {{this.AsProperty}}: string;

    {{/each}}
}

// Path: {{this.Path}}
// ID: {{this.ID}}
export const {{this.AsClass}}Template = {
    templateId: '{{this.ID}}',

    {{#each this.Fields}}
    /// The {{this.Name}} field.
    /// <para>Field Type: {{this.Type}}</para>
    /// <para>Field ID: {{this.ID}}</para>
    {{this.AsProperty}}FieldId: '{{this.ID}}',
    {{this.AsProperty}}FieldName: '{{this.Name}}',

    {{/each}}
};
{{/each}}