<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor
          type="HCA.Feature.Checkout.Infrastructure.Pipelines.Initialize.RegisterRoutes, HCA.Feature.Checkout"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor
              type="HCA.Feature.Checkout.Infrastructure.Pipelines.GetLayoutServiceContext.CommerceUserContextExtension, HCA.Feature.Checkout"
              resolve="true" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>