<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="HCA.Foundation.Serialization.SolutionRoots">
          <targetDataStore
            physicalRootPath="$(serializationSource)Foundation\Serialization\serialization\SolutionRoots"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Root.Branches" database="master" path="/sitecore/templates/branches/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Layouts" database="master" path="/sitecore/layout/Layouts/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Media" database="master" path="/sitecore/media library/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Models" database="master" path="/sitecore/layout/Models/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.PlaceholderSettings" database="master"
                     path="/sitecore/layout/placeholder settings/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Renderings" database="master" path="/sitecore/layout/Renderings/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Settings" database="master" path="/sitecore/system/Settings/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Templates" database="master" path="/sitecore/templates/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Resolvers" database="master"
                     path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/HCA">
              <exclude children="true" />
            </include>

            <!-- Emails -->
            <include name="Root.Branches.Emails" database="master" path="/sitecore/templates/Branches/System/Email/Messages/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Layouts.Emails" database="master" path="/sitecore/layout/Layouts/System/Email/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.PlaceholderSettings.Emails" database="master" path="/sitecore/layout/Placeholder Settings/Email/HCA">
              <exclude children="true" />
            </include>
            <include name="Root.Templates.Emails" database="master" path="/sitecore/templates/System/Email/Messages/Inner Content/HCA">
              <exclude children="true" />
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false"
                                     type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"
                                     singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1"
                             type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
        <configuration name="HCA.Foundation.Serialization.LayersRoots">
          <targetDataStore physicalRootPath="$(serializationSource)Foundation\Serialization\serialization\LayersRoots"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Settings -->
            <include name="Feature.Settings" database="master" path="/sitecore/system/Settings/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Settings" database="master" path="/sitecore/system/Settings/HCA/Foundation">
              <exclude children="true" />
            </include>
            <include name="Project.Settings" database="master" path="/sitecore/system/Settings/HCA/Project">
              <exclude children="true" />
            </include>

            <!-- Templates -->
            <include name="Feature.Templates" database="master" path="/sitecore/templates/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Feature.Templates.Emails" database="master" path="/sitecore/templates/System/Email/Messages/Inner Content/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Templates" database="master" path="/sitecore/templates/HCA/Foundation">
              <exclude children="true" />
            </include>
            <include name="Project.Templates" database="master" path="/sitecore/templates/HCA/Project">
              <exclude children="true" />
            </include>


            <!-- Branches -->
            <include name="Foundation.Branches" database="master" path="/sitecore/templates/branches/HCA/Foundation">
              <exclude children="true" />
            </include>
            <include name="Project.Branches.Emails" database="master" path="/sitecore/templates/Branches/System/Email/Messages/HCA/Project">
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="Feature.Renderings" database="master" path="/sitecore/layout/Renderings/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Renderings" database="master" path="/sitecore/layout/Renderings/HCA/Foundation">
              <exclude children="true" />
            </include>
            <include name="Project.Renderings" database="master" path="/sitecore/layout/Renderings/HCA/Project">
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Feature.Layouts" database="master" path="/sitecore/layout/Layouts/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Layouts" database="master" path="/sitecore/layout/Layouts/HCA/Foundation">
              <exclude children="true" />
            </include>
            <include name="Project.Layouts" database="master" path="/sitecore/layout/Layouts/HCA/Project">
              <exclude children="true" />
            </include>
            <include name="Project.Layouts.Emails" database="master" path="/sitecore/layout/Layouts/System/Email/HCA/Project">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="Feature.PlaceholderSettings" database="master"
                     path="/sitecore/layout/placeholder settings/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.PlaceholderSettings" database="master"
                     path="/sitecore/layout/placeholder settings/HCA/Foundation">
              <exclude children="true" />
            </include>
            <include name="Project.PlaceholderSettings" database="master"
                     path="/sitecore/layout/placeholder settings/HCA/Project">
              <exclude children="true" />
            </include>
            <include name="Project.PlaceholderSettings.Emails" database="master"
                     path="/sitecore/layout/Placeholder Settings/Email/HCA/Project">
              <exclude children="true" />
            </include>

            <!-- Models -->
            <include name="Feature.Models" database="master" path="/sitecore/layout/Models/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Models" database="master" path="/sitecore/layout/Models/HCA/Foundation">
              <exclude children="true" />
            </include>
            <include name="Project.Models" database="master" path="/sitecore/layout/Models/HCA/Project">
              <exclude children="true" />
            </include>

            <!-- Media -->
            <include name="Feature.Media" database="master" path="/sitecore/media library/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Project.Media" database="master" path="/sitecore/media library/HCA/Project">
              <exclude children="true" />
            </include>

            <!-- Resolvers -->
            <include name="Feature.Resolvers" database="master"
                     path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/HCA/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Resolvers" database="master"
                     path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/HCA/Foundation">
              <exclude children="true" />
            </include>

          </predicate>
          <dataProviderConfiguration enableTransparentSync="false"
                                     type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"
                                     singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1"
                             type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>