<configuration>
  <sitecore>
    <sc.variable name="HCA.HostName" value="" />
    <sc.variable name="HCA.TargetHostName" value="" />
    <sc.variable name="HCA.HostUrl" value="" />
    <sc.variable name="HCA.Email.Server" value="" />
    <sc.variable name="HCA.Email.UserName" value="" />
    <sc.variable name="HCA.Email.Password" value="" />
  </sitecore>
</configuration>
