<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <configurator type="Wooli.Foundation.Extensions.ServicesConfigurator, Wooli.Foundation.Extensions" />
    </services>
  </sitecore>
</configuration>
