<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="int-cd.hca.azure.epmc-stc.projects.epam.com" />
    <add key="BaseUrl" value="https://int-cd.hca.azure.epmc-stc.projects.epam.com/apix/client/commerce" />
    <add key="BaseSCUrl" value="https://int-cd.hca.azure.epmc-stc.projects.epam.com/sitecore/api/layout/render" />
    <add key="GraphQLSendboxUrl" value="https://payments.sandbox.braintree-api.com/graphql" />
    <add key="SC_ANALYTICS_GLOBAL_COOKIE" value="b916df89e9444a968dc1b74f53813e1e|True" />
    <add key="ASP.NET_SessionId" value="bujesllwqopyytzw2pgppzb4" />
    <add key="TOKENIZATION_KEY" value="Bearer sandbox_w35kydkf_r7vzc3fhvkx5zkvb" />
    <add key="braintree-version" value="2018-05-10" />
    <add key="content-type" value="application/json" />
    <add key="sc_lang" value="en" />
    <add key="sc_apikey" value="9DFF2B2D-206B-436E-B758-B716728B0F0D" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>