<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="int-cd.hca.azure.epmc-stc.projects.epam.com" />
    <add key="BaseUrl" value="https://int-cd.hca.azure.epmc-stc.projects.epam.com/apix/client/commerce" />
    <add key="BaseSCUrl" value="https://int-cd.hca.azure.epmc-stc.projects.epam.com/sitecore/api/layout/render" />
    <add key="GraphQLSendboxUrl" value="https://payments.sandbox.braintree-api.com/graphql" />
    <add key="SC_ANALYTICS_GLOBAL_COOKIE" value="b916df89e9444a968dc1b74f53813e1e|True" />
    <add key="ASP.NET_SessionId" value="bujesllwqopyytzw2pgppzb4" />
    <add key="BraintreeMerchantId" value="your_merchant_id" />
    <add key="BraintreePublicKey" value="your_public_key" />
    <add key="BraintreePrivateKey" value= "your_private_key" />
    <add key="braintree-version" value="2018-05-10" />
    <add key="content-type" value="application/json" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>