<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="int-cd.hca.azure.epmc-stc.projects.epam.com" />
    <add key="BaseUrl" value="https://int-cd.hca.azure.epmc-stc.projects.epam.com/apix/client/commerce" />
    <add key="SC_ANALYTICS_GLOBAL_COOKIE" value="b916df89e9444a968dc1b74f53813e1e|True" />
    <add key="ASP.NET_SessionId" value="bujesllwqopyytzw2pgppzb4" />
  </appSettings>
</configuration>