<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:commerceProvider="http://www.sitecore.net/xmlconfig/commerceProvider/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement" commerceProvider:require="Sitecore">
    <services>
      <register serviceType="HCA.Foundation.Commerce.Services.Search.IProductSearchService, HCA.Foundation.Commerce"
                implementationType="HCA.Foundation.SitecoreCommerce.Services.Search.CommerceProductSearchService, HCA.Foundation.SitecoreCommerce" />
     
      <register serviceType="HCA.Foundation.Search.Providers.Product.IProductSearchResultProvider, HCA.Foundation.Search"
                implementationType="HCA.Foundation.SitecoreCommerce.Providers.Product.CommerceProductSearchResultProvider, HCA.Foundation.SitecoreCommerce" />

      <register serviceType="HCA.Foundation.Search.Services.Category.ICategorySearchService, HCA.Foundation.Search"
                implementationType="HCA.Foundation.SitecoreCommerce.Services.Category.CommerceCategorySearchService, HCA.Foundation.SitecoreCommerce" />
    </services>

    <customerServiceProvider>
      <patch:attribute name="type">HCA.Foundation.SitecoreCommerce.Providers.Customer.CommerceCustomerServiceProvider, HCA.Foundation.SitecoreCommerce</patch:attribute>
    </customerServiceProvider>
    <cartServiceProvider>
      <patch:attribute name="type">HCA.Foundation.SitecoreCommerce.Providers.Cart.CommerceCartServiceProvider, HCA.Foundation.SitecoreCommerce</patch:attribute>
    </cartServiceProvider>
    <inventoryServiceProvider>
      <patch:attribute name="type">HCA.Foundation.SitecoreCommerce.Providers.Inventory.CommerceInventoryServiceProvider, HCA.Foundation.SitecoreCommerce</patch:attribute>
    </inventoryServiceProvider>
    <orderServiceProvider>
      <patch:attribute name="type">HCA.Foundation.SitecoreCommerce.Providers.Orders.CommerceOrderServiceProvider, HCA.Foundation.SitecoreCommerce</patch:attribute>
    </orderServiceProvider>
    <paymentServiceProvider>
      <patch:attribute name="type">HCA.Foundation.SitecoreCommerce.Providers.Payments.CommercePaymentServiceProvider, HCA.Foundation.SitecoreCommerce</patch:attribute>
    </paymentServiceProvider>
    <pricingServiceProvider>
      <patch:attribute name="type">HCA.Foundation.SitecoreCommerce.Providers.Prices.CommercePricingServiceProvider, HCA.Foundation.SitecoreCommerce</patch:attribute>
    </pricingServiceProvider>
    <shippingServiceProvider>
      <patch:attribute name="type">HCA.Foundation.SitecoreCommerce.Providers.Shipping.CommerceShippingServiceProvider, HCA.Foundation.SitecoreCommerce</patch:attribute>
    </shippingServiceProvider>
  </sitecore>
</configuration>