<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="51Degrees.mobi-core" version="3.2.17.2" targetFramework="net471" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net471" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Caching" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Configuration" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.ServiceBus" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.WindowsAzure.Storage" version="6.0.1304.0" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.93.Core" version="5.6.160" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.93.Mvc" version="5.6.160" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net471" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net471" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.OData" version="7.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Base" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Environment" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.OData.Core" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.OData.Edm" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.Spatial" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.Web.Deployment" version="3.5.0" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Node.js" version="0.12.0" targetFramework="net471" />
  <package id="NoGit" version="0.1.0" targetFramework="net471" />
  <package id="NuGet.CommandLine" version="3.5.0" targetFramework="net471" developmentDependency="true" />
  <package id="OctoPack" version="3.6.2" targetFramework="net471" developmentDependency="true" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net471" />
  <package id="Rainbow.Core" version="2.1.1" targetFramework="net471" />
  <package id="Rainbow.Storage.Yaml" version="2.1.1" targetFramework="net471" />
  <package id="RainbowCodeGeneration" version="0.3.0" targetFramework="net471" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net471" />
  <package id="Sitecore.Abstractions" version="9.2.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Annotations" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Buckets" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.CES" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.CES.DeviceDetection" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.CES.GeoIp.Core" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Client" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Cloud.Nexus" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ContentSearch" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Client" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ContentSearch.ContentExtraction" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ContentSearch.Data" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ContentSearch.Linq" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ExperienceEditor" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Framework.Conditions" version="4.0.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Configuration" version="5.3.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Configuration.Abstractions" version="5.3.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Configuration.Common" version="5.3.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Configuration.Extensions" version="5.3.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Data.Blobs" version="1.0.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Data.Blobs.Abstractions" version="1.0.0" targetFramework="net471" />
  <package id="Sitecore.JavaScriptServices.Configuration" version="14.0.0" targetFramework="net471" />
  <package id="Sitecore.JavaScriptServices.Core" version="14.0.0" targetFramework="net471" />
  <package id="Sitecore.JavaScriptServices.Globalization" version="14.0.0" targetFramework="net471" />
  <package id="Sitecore.JavaScriptServices.ViewEngine" version="14.0.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.LayoutService" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.LayoutService.Mvc" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Logging" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Logging.Client" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Marketing" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing.Core" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing.Search" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing.Taxonomy" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing.xMgmt" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Marketing.xMgmt.ReferenceData" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Mvc" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Nexus" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Nexus.Consumption" version="1.1.1" targetFramework="net471" />
  <package id="Sitecore.Nexus.Licensing" version="2.0.6" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.NVelocity" version="9.2.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Publishing.WebDeploy" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Services.Core" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Services.Infrastructure" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Services.Infrastructure.Sitecore" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Update" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Web" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Client" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Client.Configuration" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Core" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Diagnostics" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Search" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Service" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Service.Plugins" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.Collection" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.Common.Web" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.Configuration" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.Processing.Queue" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.ReferenceData.Core" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.Reporting" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.Zip" version="9.3.0" targetFramework="net471" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections" version="4.0.11" targetFramework="net471" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net471" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net471" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.2" targetFramework="net471" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net471" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net471" />
  <package id="System.Linq" version="4.1.0" targetFramework="net471" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading" version="4.0.11" targetFramework="net471" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net471" />
  <package id="TypeLite.Lib" version="1.8.4" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
</packages>