<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="51Degrees.mobi-core" version="3.2.17.2" targetFramework="net471" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net471" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net48" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Caching" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Configuration" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.ServiceBus" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.WindowsAzure.Storage" version="6.0.1304.0" targetFramework="net471" />
  <package id="Glass.Mapper.Sc.100.Core" version="5.8.171" targetFramework="net48" />
  <package id="Glass.Mapper.Sc.100.Mvc" version="5.8.171" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net471" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net471" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.OData" version="7.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Base" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Environment" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.OData.Core" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.OData.Edm" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.Spatial" version="7.5.0" targetFramework="net471" />
  <package id="Microsoft.Web.Deployment" version="3.5.0" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Node.js" version="5.3.0" targetFramework="net48" />
  <package id="NoGit" version="0.1.0" targetFramework="net471" />
  <package id="NuGet.CommandLine" version="4.9.4" targetFramework="net48" developmentDependency="true" />
  <package id="OctoPack" version="3.6.4" targetFramework="net48" developmentDependency="true" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net471" />
  <package id="Polly" version="6.0.1" targetFramework="net48" />
  <package id="Rainbow.Core" version="2.1.1" targetFramework="net471" />
  <package id="Rainbow.Storage.Yaml" version="2.1.1" targetFramework="net471" />
  <package id="RainbowCodeGeneration" version="0.3.0" targetFramework="net471" />
  <package id="RazorGenerator.MsBuild" version="2.4.7" targetFramework="net48" developmentDependency="true" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net471" />
  <package id="Rebus" version="5.0.1" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net471" />
  <package id="Sitecore.Abstractions" version="9.2.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Analytics" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Aggregation" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.DataAccess" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.OmniChannel" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Processing" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Sql" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.XConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Annotations" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Buckets.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.CES" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.CES.DeviceDetection" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.CES.DeviceDetection.Rules" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.CES.GeoIp.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Cintel" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Cintel.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Client.LicenseOptions" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Cloud.Nexus" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.ContentExtraction" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Data" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.ContentTesting" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Intelligence" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Model.xConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ContentTesting.Reporting.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EDS.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EDS.Providers.CustomSMTP" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.ExperienceAnalytics" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.Model.Web" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.XConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.EmailCampaign.XConnect.Web" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExM.Framework" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Aggregation" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Api" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.ReAggregation" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Reduce" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor.Speak" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak.Ribbon" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceForms" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Common" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Common.Abstractions" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Common.WildcardMatch" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Conditions" version="4.2.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration" version="5.4.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Abstractions" version="5.4.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Common" version="5.4.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Extensions" version="5.4.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Configuration.Xml" version="5.4.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Data.Blobs" version="1.1.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Data.Blobs.Abstractions" version="1.1.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Abstractions" version="4.1.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Configuration" version="4.1.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Rebus" version="4.1.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Rebus.Configuration" version="4.1.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Abstractions" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Api" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Core" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Model" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Registry" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Serialization" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling" version="2.3.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling.EntLib" version="2.3.0" targetFramework="net48" />
  <package id="Sitecore.Framework.TransientFaultHandling.Sql" version="2.3.0" targetFramework="net48" />
  <package id="Sitecore.ItemWebApi" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.Configuration" version="16.0.1" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.Core" version="16.0.1" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.Globalization" version="16.0.1" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.ViewEngine" version="16.0.1" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.LayoutService" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.LayoutService.Mvc" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.Services" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.XConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.XConnect.Web" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Logging.Client" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Marketing" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Operations.Xdb.ReferenceData.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Search" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Segmentation.xMgmt" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Taxonomy" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Taxonomy.xMgmt" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.xMgmt" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.xMgmt.ReferenceData" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Messaging" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Mvc.Analytics" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Nexus" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Nexus.Consumption" version="1.2.0" targetFramework="net48" />
  <package id="Sitecore.Nexus.Licensing" version="2.0.6" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.NVelocity" version="9.2.0" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Personalization" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Common" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Cursors.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Engine.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Tasks.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Tasks.Messaging" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Tasks.Messaging.Xmgmt" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Processing.Tasks.Options" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Publishing.WebDeploy" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Reporting.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Reporting.Service.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Security.AntiCsrf" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Services.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure.Sitecore" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Applications" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Speak.ItemWebApi" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Web" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.TransientFaultHandling" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Update" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Web" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client.Configuration" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Diagnostics" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Search" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Conditions" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Engine" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.ExpressionBuilder.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Predicates" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service.Plugins" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Collection" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Common.Web" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Common.Web.Xmgmt" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Configuration" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.ContactMerge" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.ContactMerge.UI" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Processing.Queue" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Service" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.ReferenceData.Service.Xmgmt" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Reporting" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Sql.Common" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Tracking.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Zip" version="10.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net48" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net48" />
  <package id="System.Interactive.Async.Providers" version="3.2.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net48" />
  <package id="TypeLite.Lib" version="1.8.4" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net48" />
</packages>