<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <hooks>
      <hook>
        <param patch:instead="param[@desc='Threshold']" env:require="Int" desc="Threshold">9GB</param>
      </hook>
    </hooks>
  </sitecore>
</configuration>