<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Wooli.Project.Wooli" dependencies="Wooli.Foundation.*,Wooli.Feature.*">
          <targetDataStore physicalRootPath="$(serializationSource)Project\Wooli\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Settings" database="master" path="/sitecore/system/Settings/Wooli/Project/Wooli" />
            <include name="Models" database="master" path="/sitecore/layout/Models/Wooli/Project/Wooli" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Wooli/Project/Wooli" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Wooli/Project/Wooli" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Wooli/Project/Wooli" />
            <include name="Templates" database="master" path="/sitecore/templates/Wooli/Project/Wooli" />
            <include name="Media" database="master" path="/sitecore/media library/Wooli/Project/Wooli" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
