<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Wooli.Project.Wooli.Content"
                       dependencies="Wooli.Foundation.*,Wooli.Feature.*,Wooli.Project.Wooli">
          <targetDataStore physicalRootPath="$(serializationSource)Project\Wooli\serialization.content"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content" database="master" path="/sitecore/content/Wooli" />
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/Wooli" />
            <include name="Storefront" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Storefront Settings/Storefronts/Wooli" />

            <include name="Master.ApiKey" database="master" path="/sitecore/system/Settings/Services/API Keys/JssKey" />

            <include name="Commerce.Indexing.Settings" database="master"
                     path="/sitecore/Commerce/Commerce Control Panel/Shared Settings/Indexing Settings" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false"
                                     type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"
                                     singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1"
                             type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>