<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/notfound</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/notfound</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <initialize>
        <processor type="HCA.Feature.Catalog.Pipelines.Initialize.RegisterRoutes, HCA.Feature.Catalog"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" />
      </initialize>
      <mvc.requestBegin>
        <processor
          type="HCA.Feature.Catalog.Pipelines.MvcRequestBegin.CatalogItemResolverProcessor, HCA.Feature.Catalog"
          resolve="true"
          patch:after="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']" />
      </mvc.requestBegin>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor
              type="HCA.Feature.Catalog.Pipelines.GetLayoutServiceContext.ProductContextExtension, HCA.Feature.Catalog"
              resolve="true" />
            <processor
              type="HCA.Feature.Catalog.Pipelines.GetLayoutServiceContext.CategoryContextExtension, HCA.Feature.Catalog"
              resolve="true" />
            <processor
              type="HCA.Feature.Catalog.Pipelines.GetLayoutServiceContext.ProductColorsContextExtension, HCA.Feature.Catalog"
              resolve="true" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>