# Build using Visual Studio 2017 on Windows Server 2016.
# Variables with password stored in Azure secrets

trigger:
- autodeploy_9.3

pool:
  vmImage: 'vs2017-win2016'

variables:
  build_cake: './src/build.cake'

steps:

- task: UseNode@1
  inputs:
    script: '"C:\Program Files\nodejs\npm.cmd" --version'
  displayName: Installing Node 10

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      (Get-Content $(build_cake)) -replace "MSBuildToolVersion.VS201\d{1,3}", '$(agent_buildTools)' | Set-Content $(build_cake)
  displayName: Config preparation

- task: PowerShell@2
  inputs:
    filePath: './src/build.ps1'
    arguments: '-Target 001-Restore'
    workingDirectory: './src/'
  displayName: Restore
