<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="HCA.Feature.Catalog" dependencies="HCA.Foundation.*">
          <targetDataStore physicalRootPath="$(serializationSource)Feature\Catalog\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Settings" database="master" path="/sitecore/system/Settings/HCA/Feature/Catalog" />
            <include name="Models" database="master" path="/sitecore/layout/Models/HCA/Feature/Catalog" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/HCA/Feature/Catalog" />
            <include name="PlaceholderSettings" database="master"
                     path="/sitecore/layout/placeholder settings/HCA/Feature/Catalog" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/HCA/Feature/Catalog" />
            <include name="Templates" database="master" path="/sitecore/templates/HCA/Feature/Catalog" />
            <include name="Media" database="master" path="/sitecore/media library/HCA/Feature/Catalog" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false"
                                     type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"
                                     singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1"
                             type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>