<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Sitecore NuGet" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="Sitecore Commerce NuGet" value="https://sitecore.myget.org/F/sc-commerce-packages/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Connect.DynamicsRetail" value="https://pkgs.dev.azure.com/EPMC-STC/c8a112df-eb95-41fa-bb80-48e83128fe75/_packaging/Connect.DynamicsRetail/nuget/v3/index.json" />
  </packageSources>
</configuration>
