{"sitecore":{"context":{ "If you need static sitecore context, please copy this file and change extension to 'json', then paste a JSS json.
Your local sitecore-context should not be commited to the repository."}}}