<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:commerceProvider="http://www.sitecore.net/xmlconfig/commerceProvider/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement" commerceProvider:require="Sitecore">
    <services>
      <register serviceType="HCA.Foundation.Commerce.Services.Search.IProductSearchService, HCA.Foundation.Commerce"
                implementationType="HCA.Foundation.SitecoreCommerce.Services.Search.CommerceProductSearchService, HCA.Foundation.SitecoreCommerce" />
     
      <register serviceType="HCA.Foundation.Search.Providers.Product.IProductSearchResultProvider, HCA.Foundation.Search"
                implementationType="HCA.Foundation.SitecoreCommerce.Providers.Product.CommerceProductSearchResultProvider, HCA.Foundation.SitecoreCommerce" />

      <register serviceType="HCA.Foundation.Search.Services.Category.ICategorySearchService, HCA.Foundation.Search"
                implementationType="HCA.Foundation.SitecoreCommerce.Services.Category.CommerceCategorySearchService, HCA.Foundation.SitecoreCommerce" />
    </services>
  </sitecore>
</configuration>